.page-title h3 {
    font-size: 1.5em;
    font-family: 'Roboto:700', sans-serif;
    color: #ffffff;
}

#client_avatar {
    width: 100%;
    height: 120px;
    border-radius: 50%;
}

.client-info input {
    width: 100%;
    background: #006a66;
    color: #ffffff;
    border: 1px solid #93C1E8;
    padding: 0 15%;
    outline: none;
}

.client-info input::-webkit-input-placeholder {
    color: #ffffff;
}

.client-info p{
    margin: 0;
    background: #006a66;
    color: #ffffff;
    border: 1px solid #93C1E8;
    padding:  0 15%;
}

.edit_info_btn {
    background: none;
    padding: 0;
    margin-top: -5%;
    font-size: 1em;
    color: #006a66;
    font-weight: bold;
}

.change-avatar {
    height: 250px;
    width: 250px;
    margin: auto;
}

#previmg {
    width: 100%;
    height: 100%;
    text-align: center;
}

.table-orders {
    margin-bottom: 2%;
}

.table-orders-title h4 {
    color: #424340;
    font-size: 0.9em;
    font-family: 'Roboto:700', sans-serif;
}

.table-orders th {
    border: 2px solid #93C1E8;
    background: #006a66;
    color: #CCE2E1;
    text-align: center;
    font-size: 0.7em;

}

.table-orders td {
    border: 2px solid #93C1E8;
    background: #F0F0F0;
    font-size: 0.6em;
}

.table-orders p {
    background: #F0F0F0;
}

#favoriteMasters{
     padding: 0;
 }

.appointment-title h4 {
    color: #424342;
    font-size: 0.9em;
    font-family: 'Roboto:700', sans-serif;
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #client_avatar {
        width: 250px;
        height: 250px;
        /* 		border-radius: 50%; */
    }

    .table-orders th {
        border: 2px solid #93C1E8;
        background: #006a66;
        color: #CCE2E1;
        text-align: center;
        font-size: 1em;
        font-family: 'Roboto:400', sans-serif;

    }

    .table-orders td {
        border: 2px solid #93C1E8;
        background: #F0F0F0;
        font-size: 0.8em;
    }

    .table-orders-title h4 {
        color: #424342;
        font-size: 1em;
        font-family: 'Roboto:700', sans-serif;
    }

    .appointment-title h4 {
        color: #424342;
        font-size: 1em;
        font-family: 'Roboto:700', sans-serif;
    }
}

@media screen and (min-width: 1200px) {
    #client_avatar {
        width: 35%;
        height: 35%;
        /* 		border-radius: 50%; */
    }

    .table-orders th {
        border: 2px solid #93C1E8;
        background: #006a66;
        color: #CCE2E1;
        text-align: center;
        font-size: 1em;
        font-family: 'Roboto:400', sans-serif;

    }

    .table-orders td {
        border: 2px solid #93C1E8;
        background: #F0F0F0;
        font-size: 0.8em;
    }

    .table-orders-title h4 {
        color: #424342;
        font-size: 1em;
        font-family: 'Roboto:700', sans-serif;
    }

    .appointment-title h4 {
        color: #424342;
        font-size: 2em;
        font-family: 'Roboto:700', sans-serif;

    }

    .client-info input {
        width: 100%;
    }

    .page-title h3 {
        font-size: 3em;
        font-family: 'Roboto:700', sans-serif;
        color: #ffffff;
    }
}