html{
  height: 100%;
}
body{
  height: 100%;
  background: url('..//images/cover.jpg') no-repeat;
  position: relative;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}
.wrapper{
height: 100%;
}
.fon-background{
  background: rgba(254, 254, 254, 0.5);
  height: 100%;
  color: black;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
 /*  overflow: auto; */
}
.edit-private-accaunt{
  height: 100%;
}
.modalType{
  text-transform: capitalize;
}
h3{
  color: black;
text-transform: uppercase;
text-align: center;
font-weight: bold;
font-size: 2em;
margin-top: 5%;
}
.calendar, .shablon{
  display: none;
}
.shablon{
  margin-bottom: 5%;
}
.shablon table{
  background:#006a66;
  color: white;
width: 100%;

}
.shablon td,tr{
  border: 2px solid #a4ccfd;
}
.form-group{
  margin-bottom: 0;
}
.shablon input{
background: none;
border: none;
text-align: center;
}
/* ::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}/* Firefox 19+ */
:-moz-placeholder           {color:white;}/* Firefox 18- */
:-ms-input-placeholder      {color:white;} */
label {
  font-weight: normal;

}
table td{
  width: 40px;
  text-align: center;
}
td>#time_work>option{
  color: white;
  background: #006a66;
}
select{
  background:#006a66; 
  color: white;
}
input[type=checkbox] {
    margin: 10px, 0,0;
  }
#day_of_work{
  padding-left: 5.5%;
  padding-top: 1%;
}
#td_time_work{
  width: 38%;
}
#calendar{
  margin-bottom: 5%;
}

.modal-content{
 background-color:  #006a66;
 color: #ffffff;
}
.modal-content input{
 background-color:  #006a66;
 border: none;
 border-bottom: 3px solid #ffffff;
 color: #ffffff;
}

.modal-header, .modal-footer{
 border: none;
 text-align: center;

}

.modal-header h4{
 margin-top: 15%;
 font-size: 1.5em;
 font-family: 'Roboto:700', sans-serif;
 text-decoration: none;
}

.modal-footer button{
 background-color: #a4cdfe;
 width: 7em;
 height: 4em;
}
.modal-footer button:hover{
 background-color: #a4cdfe;
}

.modal-footer i{
 color:  #006a66;
}
.form-group-order-modal{
 clear: both;
 margin-left: 15%;
 font-size: 1.2em;

}

.change_avatar{
  margin-top: 5%;
  margin-left: 25%;
}
.field, .fieldService{
  text-align: right;
  clear: both;
  margin-bottom: 2%;
}
.main, .mainService{
  float: left;
  color: black;
  margin-top: 3%;
}
label{
    float: left;
  /* font-weight: normal; */
}
#listServiceEdit{
background: #006a66;
color: white;
width: 100%;
margin-left: 5%;
border: 2px solid #a4ccfd;

}
#listServiceEdit>li{
  padding: 5%;
}
.change_services h4{
  font-weight: bold;
  font-size: 1.8em;
 }
 .change_services p{
  font-size: 1.4em;
  font-weight: bold;
 }
.adressWork {
 margin-top: 5%;
}
input{
  background: #006a66;
  border: 2px solid #a4ccfd;
  color: white;
  
}
.btnDesign{
  border-radius:5px;
  border: 2px solid #a4ccfd;
  color:white;
/*   margin-left:20% ; */
  /* font-size: 0.9em; */
  background: #006a66;
  clear: both;
  height: 30px;
}
#saveAll{
  margin-left:0;
  height: 23px;
  font-size: 0.9em;
}
#forbutton{
text-align: center;
margin-left: 0;
margin-top: 3%;
}
.field input{
  height: 30px;
  text-align: center;
  padding-left: 0;
 
 }

.avatar{
  margin-left: 2%;
}
h4{
text-align: center;
text-decoration: underline;
}
#avatar_view{
  margin-left: 15%;
}
.change_services {
  margin-bottom: 5%;
  margin-top: 5%;
}
.change_services ol{
  margin-bottom: 4%;
}
.change-shedule{
  clear: both;
  padding-top: 2%;
  margin-top: 42%;
}

#name-service, #price, #description-service, #during-service{
  width: 100%;
  height: 30px;
  background: #006a66;
}
.fieldService{
padding: 2%;
}
#autocomplete{
  width: 55%;
  padding-left: 1%;
  margin-left: 2%;
  margin-bottom: 3%;

}

.btnShedule{
  text-align: center;
  margin-bottom: 5%;
}
#show-shablon, #show-calendar{
  border-radius:5px;
  border: 2px solid #a4ccfd;
  color:white;
  background: #006a66;
  height: 50px;
}
#type_data{
  border: none;
}
.calendarTable td, tr{
border: 2px solid #a4ccfd;
background: #006a66;
color: white;
padding: 10px;
}
.calendarTable{
  width: 100%;
  margin-bottom: 1%;
}
#data{
  text-align: center;
}
.addData{
  height: 35px;
  font-size: 0.9em;
  margin-left: 0;
  margin-top: 0;
text-align: center;
}
.startWork{
  text-align: center;
  margin-bottom: 5%;
}
#StartWork{
  background: #a4ccfd;
  color:#006a66;
  border: 2px solid #006a66;
  font-size: 1.2em;
  font-weight: bold;
}
.startWork h4{
text-decoration: none;
font-size: 1.2em;
margin-top: 15%;
}
#adress{
  margin-left: 0;
  height: 30px;
}

.btnAddData{
  text-align: right
}
.btnEdit_information{
  text-align: center;
  margin-bottom: 10%;
  margin-top: 5%;
}
.edit_information{
  margin-left: 0;
  height: 40px;
}
#name-service, #description-service, #during-service{
border:  2px solid #a4ccfd;
}
.edit_right{
  padding-left: 20%;
}
.edit_right label, .adressWork label{
font-size: 1.2em;

}

.mainService{
  border: 1px solid #a4ccfd;
  background: #006a66;
  color: white;
  /* font-weight: normal; */
  width: 100%;
}
#name-service{
  /* margin: 0; */
  margin-top: 3%;
}
#tableService{
  margin-bottom: 5%;
  width: 100%;
  text-align: center;

}
#tableService tr, td{ 
border: 1px solid #a4ccfd;
}
#tableService td{ 
height: 50px;

  }
#tittleService{
  text-transform: uppercase;
}
#tittleService td{
  font-size: 1.2em;
  font-weight: bold;
  border: 4px solid #a4ccfd;
}
#tableService button{
  margin-top: 7%;
  background: #006a66;
  color: white;
  border: 2px solid #a4ccfd;
  border-radius: 5px 5px;
}
@media only screen and (max-width: 1200px){
  .edit_right label, .adressWork label{
font-size: 1em;

}

}
@media only screen and (max-width: 993px){
 .edit_right label{
  margin-left: 40%;
 }
 .edit_right label, .adressWork label{
font-size: 1em;

}
#autocomplete{
  width: 45%;
}
#savePrivateInfo{
  margin-top: 5%;
  height: 45px;

}
#forbutton{
  text-align: center;
}
.fieldService label{
  font-size: 0.8em;
}
}
@media only screen and (max-width: 767px){
.edit_right label{
  margin-left: 0%;
 }


  }
@media only screen and (max-width: 623px){
 .edit_right label{
  margin-left: 55%;
 }
 .edit_right label, .adressWork label{
font-size: 1em;

}
#tittleService td{
  font-size: 1em;
  
}


  }
@media only screen and (max-width: 524px){
 .edit_right label{
  margin-left: 30%;
  }
  #tittleService td{
  font-size: 0.8em;
}
#autocomplete{
  width: 55%;
  margin-left: -30%;
}

}

@media only screen and (max-width: 457px){
#show-shablon, #show-calendar{
margin-top: 7%;
}
#avatar_view{
  height: 200%;
  width: 180%;
}


  }
@media only screen and (max-width: 414px){

  #tittleService td{
  font-size: 0.7em;

}
#during-service{
  margin-top: 22%;
}
.forSaveAdress{
  text-align: right;
}
#saveAdress{
  font-size: 0.9em;
}
#show-shablon, #show-calendar{
margin-top: 10%;


  }
}
@media only screen and (max-width: 348px){
.fieldService label{
  font-size: 0.9em;
}

  }


@media only screen and (max-width: 320px){
#savePrivateInfo{
   height: 55px;
}
#autocomplete{
  margin-left: -40%;
}

  }