@font-face {
	font-family: Goudistout;
	src: url(../fonts/goudystout.ttf);
}
html{
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: url('../images/cover_mobile.jpg') no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}
.wrapper{
	height: 100%;
	margin: 0;
	padding: 0;
}
.enter-logo {
	margin:20px auto 0px auto;
	width: 200px;
	height: 200px;
	display: block;
}

.greeting {
	margin-bottom: 25px;
}

.greeting h1 {
	color: #b4b4b4;
	font-size: 27px;
	font-family: 'Goudistout', serif;
}

.greeting p {
	color: #ffffff;
	font-family: 'Roboto:700', serif;
}

#enter-btn {
	display: block;
	background-color: #006a65;
	color: #ffffff;
	width: 150px;
	height: 50px;
	margin: auto;
	font-family: 'Roboto:400', serif;
}

.btn i{
	color: #99cccc;
}

.nav{
	padding-top: 1%;
}

.nav a {
	color: #006a66;
	position: relative;
	left: 85%;
	padding-right: 10px;
	text-decoration: none;
}

.modal{
	margin-top:  65px;
}

.modal-sm{
	margin: 3%;
}

.modal-content{
	background-color:  #006a66;
	color: #ffffff;
}

.modal-content input{
	background-color:  #006a66;
	border: none;
	border-bottom: 3px solid #ffffff;
	color: #ffffff;
}

.modal-content input::-webkit-input-placeholder {
	color: #ffffff;
	text-align: center;
}

.modal-content a{
	color: #ffffff;
	display: block;
	text-align: center;
	padding-top: 15px;
	text-decoration: underline;
}

.modal-header, .modal-footer{
	border: none;
	text-align: center;
}

.modal-header button{
	font-color: #ffffff;
}

.modal-header h4{
	margin-top: 15%;
	font-size: 1.5em;
	font-family: 'Roboto:700', sans-serif;
}

.modal-footer button{
	background-color: #a4cdfe;
	width: 7em;
	height: 4em;
}

.modal-footer button:hover{
	background-color: #a4cdfe;
}

.modal-footer i{
	color:  #006a66;
}

.form-group-order-modal{
	margin-left: 35%;
}

.choose-background{
	margin: -5px;
	margin-top: 50px;
	background: #006a66;
	text-align: center;
	
}

.choose-background h4{
	padding-top: 10px;
	color: white;
}

.capacity-backgound{
	/* height: 100vh;  alternative version*/
	height: 100%;
	margin-left:25%;
	margin-right: 25%;
	padding: 0;
	/* background: rgba(142, 176, 212, 0.5); */
	background: rgba(254, 254, 254, 0.5);
	overflow: auto;
}

.basic-backgound{
	/* height: 100vh;  alternative version*/
	height: 100%;
	margin-left:25%;
	margin-right: 25%;
	padding: 0;
}

.basic-account-background{
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0;
}

.copyright{
	margin-left: 10px;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #006a66;
	color: #006a66;
	text-align: left;
}


@media screen and (max-width: 767px) {
	.capacity-backgound{
		/* height: 100vh;  alternative version*/
		height: 100%;
		padding: 0;
		margin-left: 2%;
		margin-right: 2%;
		background: rgba(254, 254, 254, 0.5);
	}

	.basic-backgound{
		/* height: 100vh;  alternative version*/
		height: 100%;
		padding: 0;
		margin-left: 2%;
		margin-right: 2%;
	}
	.greeting-register-as h4{
		font-size: 20px;
	}


}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	body{
		background: url('../images/cover.jpg') no-repeat;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
	}

	.basic-account-background{
		height: 100%;
		margin-left: 15%;
		margin-right: 15%;
		padding: 0;
	}
	
	.greeting {
		margin-bottom: 40px;
	}

	.greeting h1 {
		color: #b4b4b4;
		font-size: 55px;
	}
	.nav{
		padding-top: 1%;
	}

	.nav a {
		color: #006a66;
		position: relative;
		left: 85%;
		padding-right: 10px;
		font-size: 20px;
		text-decoration: none;
	}
	.enter-logo {
		margin:20px auto 0px auto;
		width: 250px;
		height: 250px;
		display: block;
	}
	
	.modal-sm{
	margin: auto;
}
	}

@media screen and (min-width: 1200px) {
	body{
		background: url('../images/cover.jpg') no-repeat;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
	}

	.basic-account-background{
		height: 100%;
		margin-left: 20%;
		margin-right: 20%;
		padding: 0;
	}

	.greeting {
		margin-bottom: 40px;
	}

	.greeting h1 {
		color: #b4b4b4;
		font-size: 55px;
	}

	.nav{
		padding-top: 1%;
	}

	.nav a {
		color: #006a66;
		position: relative;
		left: 85%;
		padding-right: 10px;
		font-size: 20px;
		text-decoration: none;
	}
	.enter-logo {
		margin:20px auto 0px auto;
		width: 250px;
		height: 250px;
		display: block;
	}
	.modal-sm{
	margin: auto;
}
	
}
