html{
  height: 100%;
}
body{
  height: 100%;
  background: url('..//images/cover.jpg') no-repeat;
  position: relative;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}
.wrapper{
height: 100%;
   overflow: auto;
}
.fon-background{
  background: rgba(254, 254, 254, 0.5);
  height: 100%;
  color: white;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
 
}
.private_accaunt{
  height: 100%;

}
.private_accaunt h3{
color: black;
text-transform: uppercase;
text-align: center;
font-weight: bold;
font-size: 2em;
margin-top: 0;
}

#select-services, .private-information, .date-of-records, .records, .slide-adress1, .slide-adress2, td, tr{
  background:  #006a66;
  border: 2px solid #a4ccfd;
  padding: 5px;


}

.schedule2{
  display: none;
}
.foot hr{
  color: #006a66;
  width: 10vw;
  margin-left: 0;

}
.foot p{
  color: #006a66;

}
/* .priv{
  margin-top: 10px;
} */
.priv2{
  
 margin-top: 30px;
color: white;
}
.priv2 input{
  background: #006a66;
  border: 2px solid #a4ccfd;
  height: 30px;
  text-align: center;
}
 .private-information td{

  padding-left: 25px;
  text-transform: lowercase;
  font-size: 1.2em;
 }
.private-information{
width: 90%;
text-align: center;


 }
 .list-of-records h4 {
color: black;
text-align: center;
font-weight: bold;

 }
 .list-of-records{
  margin-bottom: 20%;
 }
 .date-of-records{
   text-align: center;
  margin-bottom: 5px;
  font-size: 1em;
  
 }
 .records{
font-size: 1.1em;
margin-bottom: 2%;
text-align: center;
height: 40px;

 }
/*  .records td{
  padding-top: 5%;
 } */

 .btn{
  background: #006a66;
 }
.btn:hover, .btn:focus, .btn:visited{
  background: #006a66;
 }
.list-of-services{
    background: #006a66;
padding: 3%;
padding-left: 13%;
width: 100%;
}
.list-of-services li{
  padding: 1%;
}
.services{
  margin-bottom: 4%;
  /* margin-top: 40%; */
  font-size: 1.1em;
  text-align: center;

}
#listService{
   height:30px;
}
.schedule-of-master{
  font-size: 1.1em;
  text-align: center;
 }
 .schedule-of-master h4{
color: black;
font-weight: bold;
 }

.slide-services{
  background: #006a66;
  text-align: center;
  border: 2px solid #a4ccfd;
  padding: 5px;
 /*  margin-top: 30%; */
}
#adr1{
  cursor: adr1;
}

.table-schedule{
background:  #006a66;
padding: 5px;
font-size: 1.1em;

}

td{
  width: 200px;
}
.edit_information{
  border-radius:5px;
  border: 2px solid #a4ccfd;
  color:white;
  /* font-size: 0.9em; */
  margin-left: 15%;
 }
td>#time>option{
  color: black;
}
#table-schedule{
  width: 100%;
}
.logout{
  color: #006a66;
  font-size: 1.7em;
  text-align:right;
}
.logMain{
  margin-bottom: 0;
  margin-top: 0;
}
#avatar_view{
  margin-left: 15%;
  margin-top: -10%;
}
#buttonDate{
 background: rgba(254, 254, 254, 0.75);

}
.fa{
  color: #006a66;
}


@media  (min-width: 1400px) and (max-width: 2160px) {
  .fon-background{
    height: 100%;
  }
}
@media only screen and (max-width: 1200px){
/*   .services{
  margin-top: 50%; */

 /*  } */
}
@media only screen and (max-width: 992px){
  .date-of-records td{
  padding: 0;
  font-size: 0.9em;
  }

  .services{
margin-top: 30%;
  }
}
@media only screen and (max-width: 767px){
      .services{
margin-top: 15%;
  }
  .list-of-records{
    margin-bottom: 0%;
  }
}

@media only screen and (max-width: 743px){
  .private-information{
    width: 70%;
    float: right;
    text-align: center;
  }
  .private-information td{

  padding-left: 0;
}
}
@media only screen and (max-width: 730px){
  #avatar_view{
    height: 160;
    width: 120;
  }
}
/* @media only screen and (max-width: 738px){
    .services{
margin-top: 90%;
  }
}
 */
@media only screen and (max-width: 712px){
    .services{
margin-top: 20%;
  }
}
@media only screen and (max-width: 682px){
    .services{
margin-top: 20%;
  }
}

@media only screen and (max-width: 642px){
/*     .services{
margin-top: 47%;
  } */

}


@media only screen and (max-width: 619px){
 /*    .services{
margin-top: 110%;
  } */


}
@media only screen and (max-width: 598px){
    .services{
margin-top: 20%;
  }

}
@media only screen and (max-width: 574px){
    .services{
margin-top: 25%;
  }
}
@media only screen and (max-width: 547px){
   /*  .services{
margin-top: 55%;
  } */

     .private-information td{

  padding-left: 0;
   }
    .priv img{
    width: 80%;
    height: 100%;
    margin-left: 0;
  }
   .priv2{
    margin-top: 2%;
  }
}

@media only screen and (max-width: 522px){
/*     .services{
margin-top: 58%;
  } */
}
@media only screen and (max-width: 508px){
/*     .services{
margin-top: 60%;
  } */

}
@media only screen and (max-width: 492px){
/*     .services{
margin-top: 60%;
  } */
  .priv img{
    width: 80%;
    height: 100%;
    margin-left: 0;
  }
  .priv2{
    margin-top: 0;
  
  }
  #avatar_view{
    margin-left: 0;
  }
}
/* @media only screen and (max-width: 472px){
    .services{
margin-top: 95%;
  } */
  .priv img{
    width: 100%;
    height: 120%;
  }
  .private_accaunt h3{
    font-size: 1.2em;
  }
.private-information td{

 
  text-transform: lowercase;
  font-size: 0.9em;
 }
 .private-information{
  padding-left: 0;
 }
 .edit_information{
  margin-top: 10%;
  margin-left: 10%;
 }
}
@media only screen and (max-width: 453px){
  .edit_information{
  margin-top: 10%;
  margin-left: 10%;
 }
    .services{
margin-top: 28%;
  }
  .priv2{
    margin-top: 3%;
  }
}

@media only screen and (max-width: 440px){
  .edit_information{
  margin-top: 10%;
  font-size: 0.8em;
  margin-left: 80%;
 }
 .priv{
  margin-top: 10px;
 }
    .services{
margin-top: 30%;
  }
.records{
 font-size: 0.9em;
}
.priv2{
  margin-top: 5%;
}
}
@media only screen and (max-width: 412px){
  .edit_information{
  margin-top: 10%;
  font-size: 0.8em;
  margin-left: 80%;
 }
 .priv{
  margin-top: 10px;
 }
    .services{
 margin-top: 35%;
  }
 .records{
 font-size: 0.9em;
 }
 .priv2{
  margin-top: 7%;
 }
}

@media only screen and (max-width: 375px){
     .services{
 margin-top: 37%;
  }
  .priv2{
  margin-top: 2%;
 }

  }
@media only screen and (max-width: 360px){
     .services{
 margin-top: 37%;
  }

  }
  @media only screen and (max-width: 320px){
     .services{
 margin-top: 50%;
  }

  }
    @media only screen and (max-width: 350px){
     .services{
 margin-top: 45%;
  }

  }