

body{
	height: 100vh;
	background: url('../images/fon_web.jpeg') no-repeat;
	position: relative;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;

}
wrapper{
	height: 100vh;

}
.fon-background{
	background: rgba(254, 254, 254, 0.5);
	height: 100vh;
	color: white;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;

}

.class-registration{
	height: 80vh;
	background: #006a66;
	margin-top: 5vh;
}
.class-registration h2{
	font-size: 1.4em;
	text-align: center;
	/* 	overflow: ; */
}
.register-client{
	height: 70vh;
}

.field {
	clear:both; text-align:right;
	padding-top: 0px;


}

.field label{
	font-weight: normal;
	font-size: 0.9em;
	float: left;
	margin-top: 10px;
	text-align: left;
	margin-left: 3vh;
	padding-top: 1vh;
	font-family: 'Roboto', sans-serif;
}
.main {
	float:left;
	margin-bottom: 2vh;
}

.field input{
	border:1px solid #B0E0E6;
	background: #a4cdfe;
	margin-left: 8vh;
	margin-top: 1vh;
	margin-top: 2vh;
	color: #006a66;
	width: 11vw;
}

.type-master{

	/* margin-top: 40vh; */
	text-align: right;
}

.type-master span{
	padding-left: 1vw;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;


}
.choose-language{
	text-align: center;
	margin-top: 2vh;
}
.choose-language span{
	margin-right: 1vw;
	margin-left: 0.3vw;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;
}
#register, #back{
	background: #a4cdfe;
	border:#B0E0E6; 
	margin-top: 3vh;
	text-transform: uppercase;
	font-size: 0.8em;
	/* margin-bottom: 3vh; */
	height: 5vh;
}
.foot hr{
	color: #006a66;
	width: 10vw;
	margin-left: 0;
	margin-top: 5vh;
}
.foot p{
	color: #006a66;

}
.foot-client{
	margin-top: 10vh;
}


/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px)
{
	.field label{
		margin-left: 1vh;
		margin-top: 1vh;

	}
	.field input{
		width: 11vw;
		margin-left: 3vh;
	}
	.choose-language span{
		margin-right: 0.3vw;
	}

	@media only screen and (max-width: 992px){
		.field label{
			font-size: 0.8em;
		}
		.field input{
			width: 12vw;
			margin-left: 8vh;

		}
		.type-master span{
			padding-left: 0;
			font-size: 0.8em;
		}

	}
	.type-master{
		margin-top: 27vh;
		margin-bottom: 5vh;
	}
	.choose-language span{
		font-size: 0.7em;
	}
}


@media only screen and (max-width: 748px){
	.type-master span{
		padding-left: 0;
		font-size: 0.7em;
	}
	.field input{
		width: 13vw;
	}
	.fon-background h2{
		font-size: 1em;
	}

}
@media only screen and (max-width: 679px){
	.choose-language{
		font-size: 0.8em;
	}

	.field input{
		margin-left: 5vw;
		width: 17vw;

	}
	.field label{
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 613px){
	.fon-background{
		font-size: 0.8em;
	}
	.field label{
		font-size: 0.8em;
		margin-left: 0;
	}
	.field input{
		margin-left: 5vw;
		width: 18vw;
	}
	.type-master{
		margin-top: 35vh;

	}


}
@media only screen and (max-width: 512px){
	.field label{
		font-size: 0.5em;

	}
	.field input{
		margin-left: 2vw;
	}
	.type-master{
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 414px){

	.fon-background{
		font-size: 0.5em;
	}
	.fon-background h2{
		font-size: 1em;
	}

	.field input{
		margin-left: 2vw;
		width: 19vw;
		margin-top: 1.5vh;
	}
	.type-master{
		margin-top: 27vh;
	}
	.choose-language input{
		margin-left: 5vw;
	}
	.choose-language{
		margin-top: -2vh;

	}

}
@media  (min-width: 1400px) and (max-width: 2160px) {
	.field input{
		margin-left: 1vw;
		width: 8vw;
	}
	.type-master{
		margin-top: 30vh;
	}

}








body{
	height: 100vh;
	background: url('../images/fon_web.jpeg') no-repeat;
	position: relative;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;

}
wrapper{
	height: 100vh;

}
.fon-background{
	background: rgba(254, 254, 254, 0.5);
	height: 100vh;
	color: white;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;

}

.class-registration{
	height: 80vh;
	background: #006a66;
	margin-top: 5vh;
}
.class-registration h2{
	font-size: 1.4em;
	text-align: center;
	/* 	overflow: ; */
}
.register-client{
	height: 70vh;
}

.field {
	clear:both; text-align:right;
	padding-top: 0px;


}

.field label{
	font-weight: normal;
	font-size: 0.9em;
	float: left;
	margin-top: 10px;
	text-align: left;
	margin-left: 3vh;
	padding-top: 1vh;
	font-family: 'Roboto', sans-serif;
}
.main {
	float:left;
	margin-bottom: 2vh;
}

.field input{
	border:1px solid #B0E0E6;
	background: #a4cdfe;
	margin-left: 8vh;
	margin-top: 1vh;
	margin-top: 2vh;
	color: #006a66;
	width: 11vw;
}

.type-master{

	/* margin-top: 40vh; */
	text-align: right;
}

.type-master span{
	padding-left: 1vw;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;


}
.choose-language{
	text-align: center;
	margin-top: 2vh;
}
.choose-language span{
	margin-right: 1vw;
	margin-left: 0.3vw;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;
}
#register_btn, #back{
	background: #a4cdfe;
	border:#B0E0E6; 
	margin-top: 3vh;
	text-transform: uppercase;
	font-size: 0.8em;
	/* margin-bottom: 3vh; */
	height: 5vh;
}
.foot hr{
	color: #006a66;
	width: 10vw;
	margin-left: 0;
	margin-top: 5vh;
}
.foot p{
	color: #006a66;

}
.foot-client{
	margin-top: 10vh;
}


/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px)
{
	.field label{
		margin-left: 1vh;
		margin-top: 1vh;

	}
	.field input{
		width: 11vw;
		margin-left: 3vh;
	}
	.choose-language span{
		margin-right: 0.3vw;
	}

	@media only screen and (max-width: 992px){
		.field label{
			font-size: 0.8em;
		}
		.field input{
			width: 12vw;
			margin-left: 8vh;

		}
		.type-master span{
			padding-left: 0;
			font-size: 0.8em;
		}

	}
	.type-master{
		margin-top: 27vh;
		margin-bottom: 5vh;
	}
	.choose-language span{
		font-size: 0.7em;
	}
}


@media only screen and (max-width: 748px){
	.type-master span{
		padding-left: 0;
		font-size: 0.7em;
	}
	.field input{
		width: 13vw;
	}
	.fon-background h2{
		font-size: 1em;
	}

}
@media only screen and (max-width: 679px){
	.choose-language{
		font-size: 0.8em;
	}

	.field input{
		margin-left: 5vw;
		width: 17vw;

	}
	.field label{
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 613px){
	.fon-background{
		font-size: 0.8em;
	}
	.field label{
		font-size: 0.8em;
		margin-left: 0;
	}
	.field input{
		margin-left: 5vw;
		width: 18vw;
	}
	.type-master{
		margin-top: 35vh;

	}


}
@media only screen and (max-width: 512px){
	.field label{
		font-size: 0.5em;

	}
	.field input{
		margin-left: 2vw;
	}
	.type-master{
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 414px){

	.fon-background{
		font-size: 0.5em;
	}
	.fon-background h2{
		font-size: 1em;
	}

	.field input{
		margin-left: 2vw;
		width: 19vw;
		margin-top: 1.5vh;
	}
	.type-master{
		margin-top: 27vh;
	}
	.choose-language input{
		margin-left: 5vw;
	}
	.choose-language{
		margin-top: -2vh;

	}

}
@media  (min-width: 1400px) and (max-width: 2160px) {
	.field input{
		margin-left: 1vw;
		width: 8vw;
	}
	.type-master{
		margin-top: 30vh;
	}

}






