

body{
	height: 100%;
	background: url('../images/fon_web.jpeg') no-repeat;
	position: relative;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;

}
wrapper{
	height: 100%;

}
.fon-background{
	background: rgba(254, 254, 254, 0.5);
	height: 100%;
	color: white;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;

}
form{
	margin: 0;
}

.error {
	color: #ff0000;

}
.error label{
	font-size: 1.2em;
}

.class-registration{
	height: 80%;
	background: #006a66;
	margin-top: 5vh;
	padding-right: 0;
}
.class-registration h2{
	font-size: 1.4em;
	text-align: center;
	/* 	overflow: ; */
}
.register-client{
	height: 70%;
}

.field {
	clear:both;
	text-align:right;
	padding-top: 0px;


}

.field label{
	font-weight: normal;
	font-size: 0.9em;
	float: left;
	/* margin-top: 10px; */
	text-align: left;
	margin-left: 3vh;
	padding: 1%;
	font-family: 'Roboto', sans-serif;
}
.main {
	float:left;
	margin-bottom: 2%;
}

.field input{
	border:1px solid #B0E0E6;
	background: #a4cdfe;
	color: #006a66;
	width: 50%;
	margin-top: 1%;
	margin-right: 10%;
}

.type-master{

	margin-top:5%;
	text-align: right;
	text-transform: capitalize;
	padding-right: 15px;
}

.type-master span{
	padding-left: 1vw;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;


}
.choose-language{
	text-align: center;
	margin-top: 2vh;
}
.choose-language span{
	margin-right: 1vw;
	margin-left: 0.3vw;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;
}
#register, #back{
	background: #a4cdfe;
	border:#B0E0E6; 
	margin-top: 3%;
	text-transform: uppercase;
	font-size: 0.8em;
	height: 5%;
	margin-bottom: 5%;
}
.foot hr{
	color: #006a66;
	width: 10vw;
	margin-left: 0;
	margin-top: 5vh;
}
.foot p{
	color: #006a66;

}
.foot-client{
	margin-top: 10vh;
}


@media screen and (max-width: 767px) {
.field input{
	width: 85%;

}
.field label{
/* text-transform: lowercase; */
font-size: 0.7em;
}
.type-master span, .choose-language span{
	font-size: 0.7em;
}
}

















