@font-face {
	font-family: Goudistout;
	src: url(../fonts/goudystout.ttf);
}
html{
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: url('../images/cover_mobile.jpg') no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
.wrapper{
	height: 100%;
}
.enter-logo {
	margin:20px auto 0px auto;
	width: 200px;
	height: 200px;
	display: block;
}

.greeting {
	margin-bottom: 60px;
}

.greeting h1 {
	color: #b4b4b4;
	font-size: 27px;
	font-family: 'Goudistout', serif;
}

.greeting p {
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
}

#enter-btn {
	display: block;
	background-color: #006a65;
	color: #ffffff;
	width: 150px;
	height: 50px;
	margin: auto;
	font-family: 'Roboto Slab', serif;
}

.btn i{
	color: #99cccc;
}
.nav {
	margin-top: 5px;
}

.nav a {
	color: white;
	position: relative;
	left: 85%;
	padding-right: 10px;
}

.modal{
	margin-top:  130px;
}

.modal-sm{
	margin: auto;
}

.modal-content{
	background-color:  #006a66;
	color: #ffffff;
}

.modal-content input{
	background-color:  #006a66;
	border: none;
	border-bottom: 3px solid #ffffff;
	color: #ffffff;
}

.modal-content input::-webkit-input-placeholder {
	 color: #ffffff;
	 text-align: center;
}

.modal-content a{
	color: #ffffff;
	display: block;
	text-align: center;
	padding-top: 15px;
	text-decoration: none;
}

.modal-header, .modal-footer{
	border: none;
	text-align: center;
}

.modal-header button{
	font-color: #ffffff;
}

.modal-footer button{
	background-color: #a4cdfe;
	width: 7em;
	height: 4em;
}

.modal-footer button:hover{
	background-color: #a4cdfe;
}

.modal-footer i{
	color:  #006a66;
}



.copyright{
	margin-left: 10px;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #006a66;
	color: #006a66;
}


@media screen and (max-width: 767px) {


}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	body{
		background: url('../images/cover.jpg') no-repeat;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
	}
	.row{
		padding-left: 25%;
		padding-right: 25%;
	}
	.greeting h1 {
		color: #b4b4b4;
		font-size: 55px;
	}
	.nav {
		margin-top: 45px;
	}
	.nav a {
		color: white;
		position: relative;
		left: 95%;
		padding-right: 10px;
		font-size: 20px;
	}
	.enter-logo {
		margin:20px auto 0px auto;
		width: 250px;
		height: 250px;
		display: block;
	}

}

@media screen and (min-width: 1200px) {
	body{
		background: url('../images/cover.jpg') no-repeat;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
	}
	.row{
		padding-left: 25%;
		padding-right: 25%;
	}
	.greeting h1 {
		color: #b4b4b4;
		font-size: 55px;
	}
	.nav {
		margin-top: 45px;
	}
	.nav a {
		color: white;
		position: relative;
		left: 95%;
		padding-right: 10px;
		font-size: 20px;
	}
	.enter-logo {
		margin:20px auto 0px auto;
		width: 250px;
		height: 250px;
		display: block;
	}

}

.capacity-backgound{
	margin-left:25%;
	margin-right: 25%;
	height: 1000px;
	background: rgba(255, 255, 255, 0.5);
}