<!DOCTYPE html>
<html lang="en" ng-app="clientApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>HAIR SALON</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js"></script>
  <script src="script/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script type="text/javascript" src="script/authorization.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div class="wrapper">
        <div class="container">
                <div class="navbar-top text-right container col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
                <button class="btn signin" data-toggle="modal" data-target="#modal_register">SIGN UP/SIGN IN</button>
              </div>
          <div class="row">
            <div class="container text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <img id="main_logo" src="images/logo1.png" alt="">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="container text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 id="main_title">MY BEAUTY MASTER</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h2 class="text-center greeteng-text">WE TAKE CARE ABOUT YOUR TIME</h2>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="container text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <button id="main_btn" class="btn" onClick="location.href='appointment.html'">FIND YOUR BEST MASTER <i class="fa fa-chevron-circle-right" aria-hidden="false"></i></button>
            </div>
          </div>
        <div class="modal fade" id="modal_register">
            <form id="loginForm" ng-controller="authorizeCtrl">
            <div class="modal-sm">
              <div class="modal-content">
                <div class="modal-header text-center ">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                  <h4 class="modal-title ">SIGN IN/SIGN UP</h4>
                </div>
                <div class="modal-body">
                   <div class="form-group"> 
                    <input class="form-control" type="email" name="login" id="inputLogin" placeholder="Login" autofocus ng-model="login" required>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" ng-model="password" required>
                  </div>
                  <a href="registration_as.html">REGISTER</a>
              </div>
              <div class="modal-footer">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <button type="submit" class="btn btn-primary" id="authorization" ng-click="authorize()">OK <i class="fa fa-chevron-circle-right" aria-hidden="false""></i></button>
                </div>
              </div>
            </div>
          </div>
          </form>
        </div>
        </div>
      </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="script/bootstrap.min.js"></script>
    </body>
    </html>